---
import { cn } from "@/lib/utils";

type Props = {
  class?: string;
  contentClass?: string;
};
const { class: className, contentClass } = Astro.props;
---

<section
  class={cn("col-[fullbleed]", "py-2", "grid grid-cols-subgrid", className)}
>
  <div class={cn("col-[content]", contentClass)}>
    <slot />
  </div>
</section>
