---
import { cn } from "@/lib/utils";

/**
 * A section with a grid-line going through the middle. Fullbleed length.
 */
type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<section class={cn("col-[fullbleed]", "grid grid-cols-subgrid", className)}>
  <slot />
</section>

<style>
  section {
    display: grid;
    grid-template-columns:
      [fullbleed-start leftbleed-start]
      var(--bleed-width)
      [content-start content-left-start]
      calc(var(--content-width) / 2)
      [content-left-end leftbleed-end rightbleed-start content-right-start]
      calc(var(--content-width) / 2)
      [content-right-end content-end]
      var(--bleed-width)
      [rightbleed-end fullbleed-end];
  }
</style>
