---
import Layout from "@/layouts/Layout.astro";

import { config as mainConfig } from "@/config/main";
import { config as pageConfig } from "@/config/pages/index";

import { Icon } from "astro-icon/components";
import Header from "@/components/layout/Header.astro";
import { Button } from "@/components/ui/button";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import Halfbleed from "@/components/section/Halfbleed.astro";
import { Accordion } from "@/components/my-ui/accordion";
import type { Item } from "@/config/pages/products";
import { cn } from "@/lib/utils";

type Props = {
  reverse?: boolean;
  class?: string;
};
const { class: className, reverse } = Astro.props;
---

<!-- TODO: Use Content80 -->
<section class={cn("col-[content]", "flex justify-center")}>
  <div
    class={cn(
      "flex flex-col xl:grid xl:grid-cols-2 gap-16",
      { "flex-col-reverse": reverse },
      { "xl:[direction:rtl]": reverse },
      "*:[direction:ltr]",
      "w-[80%]",

      //
      "[&>img]:rounded-md",

      "[&>div]:flex [&>div]:flex-col",
      "[&>div]:gap-4",
      // "[&>div]:bg-cover [&>div]:bg-center",

      //
      "[&>div>h2]:text-5xl [&>div>h2]:font-bold [&>div>p]:text-lg",
    )}
  >
    <slot name="slot-1" />
    <slot name="slot-2" />
  </div>
</section>
