---
import Halfbleed from "@/components/section/Halfbleed.astro";
import { cn } from "@/lib/utils";

type Props = {
  class?: string;
};
---

<Halfbleed
  class={cn(
    "col-[fullbleed]",
    "text-white text-xl/9 sm:text-2xl/9",
    "pt-16 lg:pt-24 2xl:pt-32",
  )}
>
  <slot name="first" />

  <div
    class={cn(
      "col-[fullbleed] lg:col-[leftbleed] xl:col-[rightbleed]",
      "grid grid-cols-subgrid",
      "bg-zinc-800",
      "py-16",
      "xl:px-16",
      "lg:pr-16 xl:pr-0",
    )}
  >
    <div
      class={cn(
        "col-[fullbleed] sm:col-[content] lg:col-[content-left] xl:col-[content-right]",
        "flex flex-col gap-8",
        "px-4 sm:px-0",
      )}
    >
      <slot name="second" />
      <!-- 42px ~<= 5xl -->
    </div>
  </div>

  <div
    class={cn(
      "col-[fullbleed] lg:col-[rightbleed]",
      "grid grid-cols-subgrid",
      "bg-[#5b4f43]",
      "py-16",
      "lg:pl-16 xl:px-16",
    )}
  >
    <div
      class={cn(
        "col-[fullbleed] sm:col-[content] lg:col-[content-right]",
        "flex flex-col gap-8",
        "px-4 sm:px-0",
      )}
    >
      <slot name="third" />
      <!-- 42px ~<= 5xl -->
    </div>
  </div>
</Halfbleed>
