---
import { config as mainConfig } from "@/config/main";
import { config as pageConfig } from "@/config/pages/index";
const config = {
  main: mainConfig,
  page: pageConfig,
};

import { Button } from "@/components/ui/button";

import { cn } from "@/lib/utils";

type Props = {
  title: string;
  backgroundImageSource?: string;
};
const { title, backgroundImageSource } = Astro.props;
---

<section
  class={cn(
    "col-[fullbleed]",
    "grid grid-cols-subgrid",
    "bg-[url('/images/textures/noise.svg')] bg-black/90 bg-blend-darken",
    "text-white",
    "pb-(--section-padding)",
  )}
>
  <div
    class={cn(
      `bg-[url(${backgroundImageSource ?? "/images/IMG_2252.JPEG"})]`,
      "bg-fixed bg-cover bg-[0%_50%]",
      "col-[content]",
      "rounded-2xl",
      "shadow-lg",
    )}
  >
    <!-- Inline block for making sure content is within width of title -->
    <div
      class={cn(
        "text-center",
        "py-12 sm:py-18 md:py-24",
        "xl:px-36 xl:text-left",
        "rounded-2xl",
        "flex flex-col gap-8",
        "bg-linear-to-r from-black/90 to-transparent",
      )}
    >
      <h1 class="text-4xl sm:text-7xl lg:text-9xl font-distant-galaxy">{title}</h1>

      <slot />
    </div>
  </div>
</section>
